In [5]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("chapter6").getOrCreate()

df = spark.read.format("csv").option("inferSchema", "true").option("header", "true").load("retail-data/by-day/2010-12-10.csv")
df.printSchema()
df.createOrReplaceTempView("dbtable")
spark.sql("select * from dbtable").show(10)

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   538172|    21562|HAWAIIAN GRASS SK...|      12|2010-12-10 09:33:00|     1.25|   15805.0|United Kingdom|
|   538172|    79321|       CHILLI LIGHTS|       8|2010-12-10 09:33:00|     4.95|   15805.0|United Kingdom|
|   538172|    22041|"RECORD FRAME 7""...|      12|2010-12-10 09:33:00|     2.55|   15805.0|United Kingdom|
|   538172|   84558A|3D DOG PICTURE PL...|      12|2010-12-10 09:33:00|     2.95|   15805.0|United Kingdom|
|   538172|    22952|60 CAKE CASES VIN...|      24|2010-12-10 09:33:00|     0.55|   15805.0|United Kingdom|
|   538172|    22910|PAPER CHAIN KIT V...|      24|2010-12-10 09:33:00|     2.95|   15805.0|United Kingdom|
|   538172|    21098|CHRISTMAS TOILET ...|      24|2010-12-10 09:33:00|     1.25|   15805.0|United Kingdom|
|   538172|    84212|"ASSORTED FLOWER ...|      24|2010-12-10 09:33:00|     0.65|   15805.0|United Kingdom|
|   538172|    21870|I CAN ONLY PLEASE...|      12|2010-12-10 09:33:00|     1.25|   15805.0|United Kingdom|
|   538172|    22834|HAND WARMER BABUS...|      36|2010-12-10 09:33:00|      2.1|   15805.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 10 rows

In [35]:
from pyspark.sql.functions import lit, col, instr, round, bround

df.select(lit(5), lit("5"), lit(5.0)).show(1)

df.selectExpr("Description", "CustomerID").where(col("InvoiceNo") == "538172").show(5, False)

priceFilter = col("UnitPrice") > 600
descFilter = instr(df.Description, "POSTAGE") >=1
df.select("Description", "UnitPrice").where(priceFilter | descFilter).show(5)
df.withColumn("criteria", priceFilter | descFilter).where("criteria").show(5)

fabricatedValue = pow((col("Quantity") * col("UnitPrice")), 2) + 5
df.select("*", fabricatedValue.alias("FabricatedValue")).show(5)

df.selectExpr("*", "POWER((Quantity * UnitPrice), 2) + 5").show(2)

df.select(round(lit(2.5)), bround(lit(2.5))).show(1)

df.describe().show(2)

+---+---+---+
|  5|  5|5.0|
+---+---+---+
|  5|  5|5.0|
+---+---+---+
only showing top 1 row

+-------------------------------+----------+
|Description                    |CustomerID|
+-------------------------------+----------+
|HAWAIIAN GRASS SKIRT           |15805.0   |
|CHILLI LIGHTS                  |15805.0   |
|"RECORD FRAME 7"" SINGLE SIZE "|15805.0   |
|3D DOG PICTURE PLAYING CARDS   |15805.0   |
|60 CAKE CASES VINTAGE CHRISTMAS|15805.0   |
+-------------------------------+----------+
only showing top 5 rows

+--------------+---------+
|   Description|UnitPrice|
+--------------+---------+
|       POSTAGE|     18.0|
|DOTCOM POSTAGE|   847.42|
|       POSTAGE|     18.0|
|       POSTAGE|     28.0|
|DOTCOM POSTAGE|   907.47|
+--------------+---------+

+---------+---------+--------------+--------+-------------------+---------+----------+--------------+--------+
|InvoiceNo|StockCode|   Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|criteria|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+--------+
|   538175|     POST|       POSTAGE|      21|2010-12-10 09:48:00|     18.0|   12471.0|       Germany|    true|
|   538177|      DOT|DOTCOM POSTAGE|       1|2010-12-10 09:51:00|   847.42|      null|United Kingdom|    true|
|   538196|     POST|       POSTAGE|       8|2010-12-10 10:56:00|     18.0|   12731.0|        France|    true|
|   538311|     POST|       POSTAGE|       2|2010-12-10 13:48:00|     28.0|   12785.0|      Portugal|    true|
|   538349|      DOT|DOTCOM POSTAGE|       1|2010-12-10 14:59:00|   907.47|      null|United Kingdom|    true|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+--------+

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+------------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|   FabricatedValue|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+------------------+
|   538172|    21562|HAWAIIAN GRASS SK...|      12|2010-12-10 09:33:00|     1.25|   15805.0|United Kingdom|             230.0|
|   538172|    79321|       CHILLI LIGHTS|       8|2010-12-10 09:33:00|     4.95|   15805.0|United Kingdom|           1573.16|
|   538172|    22041|"RECORD FRAME 7""...|      12|2010-12-10 09:33:00|     2.55|   15805.0|United Kingdom| 941.3599999999999|
|   538172|   84558A|3D DOG PICTURE PL...|      12|2010-12-10 09:33:00|     2.95|   15805.0|United Kingdom|1258.1600000000003|
|   538172|    22952|60 CAKE CASES VIN...|      24|2010-12-10 09:33:00|     0.55|   15805.0|United Kingdom|179.24000000000004|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+------------------+
only showing top 5 rows

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+--------------------------------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|(POWER((Quantity * UnitPrice), 2) + 5)|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+--------------------------------------+
|   538172|    21562|HAWAIIAN GRASS SK...|      12|2010-12-10 09:33:00|     1.25|   15805.0|United Kingdom|                                 230.0|
|   538172|    79321|       CHILLI LIGHTS|       8|2010-12-10 09:33:00|     4.95|   15805.0|United Kingdom|                               1573.16|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+--------------------------------------+
only showing top 2 rows

+-------------+--------------+
|round(2.5, 0)|bround(2.5, 0)|
+-------------+--------------+
|          3.0|           2.0|
+-------------+--------------+
only showing top 1 row

+-------+-----------------+------------------+-----------+-----------------+-----------+-----------------+------------------+-------+
|summary|        InvoiceNo|         StockCode|Description|         Quantity|InvoiceDate|        UnitPrice|        CustomerID|Country|
+-------+-----------------+------------------+-----------+-----------------+-----------+-----------------+------------------+-------+
|  count|             2758|              2758|       2752|             2758|       2758|             2758|              1449|   2758|
|   mean|538266.0758928572|27964.272652726526|       null|7.359318346627991|       null|4.650130529369104|15436.323671497585|   null|
+-------+-----------------+------------------+-----------+-----------------+-----------+-----------------+------------------+-------+
only showing top 2 rows

In [61]:
from pyspark.sql.functions import initcap, upper, lower, regexp_replace, translate, regexp_extract

df.select(initcap("Description"), col("Description"), upper(col("Description")), lower(col("Description"))).show(5, False)

regex_string = "BLACK|WHITE|RED|BLUE|GREEN"
df.select("Description", regexp_replace(df.Description, regex_string, "COLOR").alias("Replaced")).where(col("Replaced").contains("COLOR")).show(30, False)


df.select("Description", translate(col("Description"), "LEET", "3774")).show(10, False)

extract_string = "(BLACK|WHITE|RED|BLUE|GREEN)"
df.select("Description", regexp_extract(col("Description"), extract_string, 1).alias("extracted")).where(col("extracted") != '').show(10, False)

hasWhite = instr(col("Description"), "WHITE") >= 1
hasBlack = instr(col("Description"), "BLACK") >= 1
df.withColumn("basicColor", hasWhite | hasBlack).where("basicColor").select("Description", "basicColor").show(10, False)

+-------------------------------+-------------------------------+-------------------------------+-------------------------------+
|initcap(Description)           |Description                    |upper(Description)             |lower(Description)             |
+-------------------------------+-------------------------------+-------------------------------+-------------------------------+
|Hawaiian Grass Skirt           |HAWAIIAN GRASS SKIRT           |HAWAIIAN GRASS SKIRT           |hawaiian grass skirt           |
|Chilli Lights                  |CHILLI LIGHTS                  |CHILLI LIGHTS                  |chilli lights                  |
|"record Frame 7"" Single Size "|"RECORD FRAME 7"" SINGLE SIZE "|"RECORD FRAME 7"" SINGLE SIZE "|"record frame 7"" single size "|
|3d Dog Picture Playing Cards   |3D DOG PICTURE PLAYING CARDS   |3D DOG PICTURE PLAYING CARDS   |3d dog picture playing cards   |
|60 Cake Cases Vintage Christmas|60 CAKE CASES VINTAGE CHRISTMAS|60 CAKE CASES VINTAGE CHRISTMAS|60 cake cases vintage christmas|
+-------------------------------+-------------------------------+-------------------------------+-------------------------------+
only showing top 5 rows

+-----------------------------------+-------------------------------------+
|Description                        |Replaced                             |
+-----------------------------------+-------------------------------------+
|BLUE HARMONICA IN BOX              |COLOR HARMONICA IN BOX               |
|RED TOADSTOOL LED NIGHT LIGHT      |COLOR TOADSTOOL LED NIGHT LIGHT      |
|PACK OF 20 NAPKINS RED APPLES      |PACK OF 20 NAPKINS COLOR APPLES      |
|PACK OF 12 COLOURED PENCILS        |PACK OF 12 COLOUCOLOR PENCILS        |
|LIPSTICK PEN RED                   |LIPSTICK PEN COLOR                   |
|RED KITCHEN SCALES                 |COLOR KITCHEN SCALES                 |
|BAKING MOULD EASTER EGG WHITE CHOC |BAKING MOULD EASTER EGG COLOR CHOC   |
|WHITE HANGING HEART T-LIGHT HOLDER |COLOR HANGING HEART T-LIGHT HOLDER   |
|ALARM CLOCK BAKELIKE GREEN         |ALARM CLOCK BAKELIKE COLOR           |
|EDWARDIAN PARASOL BLACK            |EDWARDIAN PARASOL COLOR              |
|RED RETROSPOT LUGGAGE TAG          |COLOR RETROSPOT LUGGAGE TAG          |
|RED RETROSPOT PURSE                |COLOR RETROSPOT PURSE                |
|RED RETROSPOT CHILDRENS UMBRELLA   |COLOR RETROSPOT CHILDRENS UMBRELLA   |
|GREEN CAT FLORAL CUSHION COVER     |COLOR CAT FLORAL CUSHION COVER       |
|RED RETROSPOT CHARLOTTE BAG        |COLOR RETROSPOT CHARLOTTE BAG        |
|LUNCH BAG RED RETROSPOT            |LUNCH BAG COLOR RETROSPOT            |
|LUNCH BAG CARS BLUE                |LUNCH BAG CARS COLOR                 |
|RETROSPOT RED WASHING UP GLOVES    |RETROSPOT COLOR WASHING UP GLOVES    |
|BLACK EAR MUFF HEADPHONES          |COLOR EAR MUFF HEADPHONES            |
|RED FLOCK LOVE HEART PHOTO FRAME   |COLOR FLOCK LOVE HEART PHOTO FRAME   |
|SET/5 RED RETROSPOT LID GLASS BOWLS|SET/5 COLOR RETROSPOT LID GLASS BOWLS|
|BLUE POT PLANT CANDLE              |COLOR POT PLANT CANDLE               |
|RED FLORAL FELTCRAFT SHOULDER BAG  |COLOR FLORAL FELTCRAFT SHOULDER BAG  |
|PINK BLUE FELT CRAFT TRINKET BOX   |PINK COLOR FELT CRAFT TRINKET BOX    |
|12 PENCILS SMALL TUBE RED RETROSPOT|12 PENCILS SMALL TUBE COLOR RETROSPOT|
|SET/2 RED RETROSPOT TEA TOWELS     |SET/2 COLOR RETROSPOT TEA TOWELS     |
|RED RETROSPOT OVEN GLOVE DOUBLE    |COLOR RETROSPOT OVEN GLOVE DOUBLE    |
|VINTAGE RED TEATIME MUG            |VINTAGE COLOR TEATIME MUG            |
|BLACK RECORD COVER FRAME           |COLOR RECORD COVER FRAME             |
|RED RETROSPOT OVEN GLOVE           |COLOR RETROSPOT OVEN GLOVE           |
+-----------------------------------+-------------------------------------+
only showing top 30 rows

+---------------------------------+----------------------------------+
|Description                      |translate(Description, LEET, 3774)|
+---------------------------------+----------------------------------+
|HAWAIIAN GRASS SKIRT             |HAWAIIAN GRASS SKIR4              |
|CHILLI LIGHTS                    |CHI33I 3IGH4S                     |
|"RECORD FRAME 7"" SINGLE SIZE "  |"R7CORD FRAM7 7"" SING37 SIZ7 "   |
|3D DOG PICTURE PLAYING CARDS     |3D DOG PIC4UR7 P3AYING CARDS      |
|60 CAKE CASES VINTAGE CHRISTMAS  |60 CAK7 CAS7S VIN4AG7 CHRIS4MAS   |
|PAPER CHAIN KIT VINTAGE CHRISTMAS|PAP7R CHAIN KI4 VIN4AG7 CHRIS4MAS |
|CHRISTMAS TOILET ROLL            |CHRIS4MAS 4OI374 RO33             |
|"ASSORTED FLOWER COLOUR ""LEIS"""|"ASSOR47D F3OW7R CO3OUR ""37IS""" |
|I CAN ONLY PLEASE ONE PERSON MUG |I CAN ON3Y P37AS7 ON7 P7RSON MUG  |
|HAND WARMER BABUSHKA DESIGN      |HAND WARM7R BABUSHKA D7SIGN       |
+---------------------------------+----------------------------------+
only showing top 10 rows

+----------------------------------+---------+
|Description                       |extracted|
+----------------------------------+---------+
|BLUE HARMONICA IN BOX             |BLUE     |
|RED TOADSTOOL LED NIGHT LIGHT     |RED      |
|PACK OF 20 NAPKINS RED APPLES     |RED      |
|PACK OF 12 COLOURED PENCILS       |RED      |
|LIPSTICK PEN RED                  |RED      |
|RED KITCHEN SCALES                |RED      |
|BAKING MOULD EASTER EGG WHITE CHOC|WHITE    |
|WHITE HANGING HEART T-LIGHT HOLDER|WHITE    |
|ALARM CLOCK BAKELIKE GREEN        |GREEN    |
|EDWARDIAN PARASOL BLACK           |BLACK    |
+----------------------------------+---------+
only showing top 10 rows

+-----------------------------------+----------+
|Description                        |basicColor|
+-----------------------------------+----------+
|BAKING MOULD EASTER EGG WHITE CHOC |true      |
|WHITE HANGING HEART T-LIGHT HOLDER |true      |
|EDWARDIAN PARASOL BLACK            |true      |
|BLACK EAR MUFF HEADPHONES          |true      |
|BLACK RECORD COVER FRAME           |true      |
|WHITE BELL HONEYCOMB PAPER GARLAND |true      |
|LARGE WHITE HONEYCOMB PAPER BELL   |true      |
|WHITE BELL HONEYCOMB PAPER         |true      |
|WHITE GOOSE FEATHER CHRISTMAS TREE |true      |
|WHITE GOOSE FEATHER TREE 60CM      |true      |
+-----------------------------------+----------+
only showing top 10 rows

In [82]:
from pyspark.sql.functions import current_date, current_timestamp, date_add, date_sub, datediff, to_date

spark.range(10).withColumn("current date", current_date()).withColumn("current timestamp", current_timestamp()).show(1, False)

spark.range(1).withColumn("date1", date_add(current_date(), 7)).withColumn("date2", date_sub(current_date(), 7)).select("date1", "date2", datediff("date1", "date2")).show(1, False)

spark.range(1).withColumn("start", to_date(lit("2017-01-01"))).withColumn("end", to_date(lit("2020-01-01"))).select("start", "end", datediff("end", "start")).show(1, False)

dateformat = "YYYY-dd-MM"
spark.range(1).select(to_date(lit('2017-12-12')).alias("date1"), to_date(lit('2020-11-11')).alias("date2")).select("date2", "date1", datediff(col("date2"), col("date1"))).show(1, False)

+---+------------+-----------------------+
|id |current date|current timestamp      |
+---+------------+-----------------------+
|0  |2021-07-03  |2021-07-03 21:23:13.304|
+---+------------+-----------------------+
only showing top 1 row

+----------+----------+----------------------+
|date1     |date2     |datediff(date1, date2)|
+----------+----------+----------------------+
|2021-07-10|2021-06-26|14                    |
+----------+----------+----------------------+

+----------+----------+--------------------+
|start     |end       |datediff(end, start)|
+----------+----------+--------------------+
|2017-01-01|2020-01-01|1095                |
+----------+----------+--------------------+

+----------+----------+----------------------+
|date2     |date1     |datediff(date2, date1)|
+----------+----------+----------------------+
|2020-11-11|2017-12-12|1065                  |
+----------+----------+----------------------+

In [90]:
from pyspark.sql.functions import coalesce

df.select(coalesce(col("Description")),col("CustomerID")).show(3, False)

print(df.count())

df.na.drop("all")

print(df.count())

df.na.drop("any")

print(df.count())

df.na.fill("all", ["StockCode"])

df.select("StockCode").where(col("StockCode") == "all").show(10, False)

+-------------------------------+----------+
|coalesce(Description)          |CustomerID|
+-------------------------------+----------+
|HAWAIIAN GRASS SKIRT           |15805.0   |
|CHILLI LIGHTS                  |15805.0   |
|"RECORD FRAME 7"" SINGLE SIZE "|15805.0   |
+-------------------------------+----------+
only showing top 3 rows

2758
2758
2758
+---------+
|StockCode|
+---------+
+---------+

In [125]:
from pyspark.sql.functions import split, size, array_contains, explode, create_map

complexDF = df.selectExpr("struct(Description, CustomerID) as complex")

complexDF.select("complex.Description", "complex.CustomerID").show(1, False)

df.select(split(col("Description"), " ").alias("splitted")).show(1, False)

df.select(split(col("Description"), " ").alias("splitted")).selectExpr("splitted[0]").show(1, False)

df.select(split(col("Description"), " ").alias("splitted")).select("splitted", size(col("splitted"))).show(5, False)

df.select(split(col("Description"), " ").alias("splitted")).select("splitted", array_contains(col("splitted"), "GRASS")).show(5, False)

df.select(split(col("Description"), " ").alias("splitted")).select("splitted", explode(col("splitted")).alias("exploded")).show(10, False)

df.select(create_map(col("CustomerID"), col("Description")).alias("createdMap")).selectExpr( "createdMap", "createdMap['15805.0']").show(2, False)

+---------------------+----------+
|Description          |CustomerID|
+---------------------+----------+
|HAWAIIAN GRASS SKIRT |15805.0   |
+---------------------+----------+
only showing top 1 row

+--------------------------+
|splitted                  |
+--------------------------+
|[HAWAIIAN, GRASS, SKIRT, ]|
+--------------------------+
only showing top 1 row

+-----------+
|splitted[0]|
+-----------+
|HAWAIIAN   |
+-----------+
only showing top 1 row

+--------------------------------------+--------------+
|splitted                              |size(splitted)|
+--------------------------------------+--------------+
|[HAWAIIAN, GRASS, SKIRT, ]            |4             |
|[CHILLI, LIGHTS]                      |2             |
|["RECORD, FRAME, 7"", SINGLE, SIZE, "]|6             |
|[3D, DOG, PICTURE, PLAYING, CARDS]    |5             |
|[60, CAKE, CASES, VINTAGE, CHRISTMAS] |5             |
+--------------------------------------+--------------+
only showing top 5 rows

+--------------------------------------+-------------------------------+
|splitted                              |array_contains(splitted, GRASS)|
+--------------------------------------+-------------------------------+
|[HAWAIIAN, GRASS, SKIRT, ]            |true                           |
|[CHILLI, LIGHTS]                      |false                          |
|["RECORD, FRAME, 7"", SINGLE, SIZE, "]|false                          |
|[3D, DOG, PICTURE, PLAYING, CARDS]    |false                          |
|[60, CAKE, CASES, VINTAGE, CHRISTMAS] |false                          |
+--------------------------------------+-------------------------------+
only showing top 5 rows

+--------------------------------------+--------+
|splitted                              |exploded|
+--------------------------------------+--------+
|[HAWAIIAN, GRASS, SKIRT, ]            |HAWAIIAN|
|[HAWAIIAN, GRASS, SKIRT, ]            |GRASS   |
|[HAWAIIAN, GRASS, SKIRT, ]            |SKIRT   |
|[HAWAIIAN, GRASS, SKIRT, ]            |        |
|[CHILLI, LIGHTS]                      |CHILLI  |
|[CHILLI, LIGHTS]                      |LIGHTS  |
|["RECORD, FRAME, 7"", SINGLE, SIZE, "]|"RECORD |
|["RECORD, FRAME, 7"", SINGLE, SIZE, "]|FRAME   |
|["RECORD, FRAME, 7"", SINGLE, SIZE, "]|7""     |
|["RECORD, FRAME, 7"", SINGLE, SIZE, "]|SINGLE  |
+--------------------------------------+--------+
only showing top 10 rows

+----------------------------------+-----------------------------------+
|createdMap                        |createdMap[CAST(15805.0 AS DOUBLE)]|
+----------------------------------+-----------------------------------+
|{15805.0 -> HAWAIIAN GRASS SKIRT }|HAWAIIAN GRASS SKIRT               |
|{15805.0 -> CHILLI LIGHTS}        |CHILLI LIGHTS                      |
+----------------------------------+-----------------------------------+
only showing top 2 rows