In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("chapter9").getOrCreate()

jsonDf = spark.read.format("json").option("inferSchema", "true").load("flight-data/json/2010-summary.json")

jsonDf.show(10, False)
jsonDf.write.format("json").mode("overwrite").save("tmp/2010-summary.json")


parquetDf = spark.read.format("parquet").load("flight-data/parquet/2010-summary.parquet")

parquetDf.show(10, False)

parquetDf.write.mode("overwrite").save("tmp/2010-summary.parquet")

orcDf = spark.read.format("orc").load("flight-data/orc/2010-summary.orc")

orcDf.show(10, False)

orcDf.write.format("orc").mode("overwrite").save("tmp/2010-summary.orc")

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |1    |
|United States    |Ireland            |264  |
|United States    |India              |69   |
|Egypt            |United States      |24   |
|Equatorial Guinea|United States      |1    |
|United States    |Singapore          |25   |
|United States    |Grenada            |54   |
|Costa Rica       |United States      |477  |
|Senegal          |United States      |29   |
|United States    |Marshall Islands   |44   |
+-----------------+-------------------+-----+
only showing top 10 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |1    |
|United States    |Ireland            |264  |
|United States    |India              |69   |
|Egypt            |United States      |24   |
|Equatorial Guinea|United States      |1    |
|United States    |Singapore          |25   |
|United States    |Grenada            |54   |
|Costa Rica       |United States      |477  |
|Senegal          |United States      |29   |
|United States    |Marshall Islands   |44   |
+-----------------+-------------------+-----+
only showing top 10 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |1    |
|United States    |Ireland            |264  |
|United States    |India              |69   |
|Egypt            |United States      |24   |
|Equatorial Guinea|United States      |1    |
|United States    |Singapore          |25   |
|United States    |Grenada            |54   |
|Costa Rica       |United States      |477  |
|Senegal          |United States      |29   |
|United States    |Marshall Islands   |44   |
+-----------------+-------------------+-----+
only showing top 10 rows

In [2]:
driver = "org.sqlite.JDBC"
path = "flight-data/jdbc/my-sqlite.db"
url = "jdbc:sqlite:" + path
tablename= "flight_info"

# dbDf = spark.read.format("jdbc").option("driver", driver).option("url", url).option("dbtable", tablename).load()

# dbDf.show(10, False)

# pushdownQuery = """(SELECT DISTINCT(DEST_COUNTRY_NAME) FROM flight_info)
#   AS flight_info"""
# dbDataFrame = spark.read.format("jdbc")\
#   .option("url", url).option("dbtable", pushdownQuery).option("driver",  driver)\
#   .load()


# dbDataFrame = spark.read.format("jdbc")\
#   .option("url", url).option("dbtable", tablename).option("driver",  driver)\
#   .option("numPartitions", 10).load()

# newPath = "jdbc:sqlite://tmp/my-sqlite.db"
# csvFile.write.jdbc(newPath, tablename, mode="overwrite", properties=props)