In [30]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.appName("chapter10").getOrCreate()

df = spark.read.format("csv").option("header", "true").option("header", "true").load("flight-data/csv/2010-summary.csv")

df.createOrReplaceTempView("someview")
df.write.mode("overwrite").saveAsTable("flights_someview")
spark.sql("select * from flights_someview").show(5,False)

spark.sql(""" select dest_country_name, origin_country_name, sum(count) as sum_count
from someview group by dest_country_name, origin_country_name """)\
.where("dest_country_name like 'S%'").where(col("sum_count") > 25).show(10, False)


spark.sql("drop table if exists flights")
spark.sql("""CREATE TABLE if not exists flights (
  DEST_COUNTRY_NAME STRING, ORIGIN_COUNTRY_NAME STRING, count LONG)
USING JSON location 'flight-data/json/2015-summary.json'""")
# workaround started
flightDf = spark.read.format("json").load('flight-data/json/2015-summary.json')
flightDf.write.mode("overwrite").saveAsTable("flights")
# workaround ended
spark.sql("select * from flights").show(5, False)
spark.sql("show tables").show()

spark.sql("drop table flights_csv")
spark.sql(""" create table if not exists flights_csv(dest_country_name string, origin_country_name string, count long) 
using csv options (header true, path 'flight-data/csv/2010-summary.csv')""")
# workaround start
flightsCsvDf = spark.read.format("csv").option("inferSchema", "true").option("header", "true").load('flight-data/csv/2015-summary.csv')
flightsCsvDf.write.mode("overwrite").saveAsTable("flights_csv")
# workaround end
spark.sql("select * from flights_csv").show(10, False)
# spark.sql("show tables").show()

# spark.sql(""" create table if not exists flights_from_select using parquet as select * from flights""")

# spark.sql("show tables").show()

# spark.sql(""" create table if not exists flights_from_hive(dest_country_name string, origin_country_name string, count long)
# row format delimited fields terminated by ',' location 'flight-data-hive'""")

# spark.sql("show tables").show()

spark.sql(""" insert into flights_from_select select * from flights limit 20""")

spark.sql("select * from flights_from_select").show(20, False)

spark.sql("describe table flights_csv").show()

spark.sql("""create view if not exists flights_usa as select * from flights 
where dest_country_name='United States' or origin_country_name='United States'""")

spark.sql("select * from flights_usa").show(10, False)

spark.sql("create or replace view flights_view as select (dest_country_name, origin_country_name) as complex, count from flights_csv")
spark.sql("select * from flights_view").show(5, False)
spark.sql("select complex.dest_country_name, count from flights_view").show(5, False)

spark.sql("""select S.* from (select dest_country_name, collect_list(count) as countList, 
collect_set(origin_country_name) as originSet from 
flights_csv group by dest_country_name) S where size(S.originSet) > 1 """).show(1, False)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |1    |
|United States    |Ireland            |264  |
|United States    |India              |69   |
|Egypt            |United States      |24   |
|Equatorial Guinea|United States      |1    |
+-----------------+-------------------+-----+
only showing top 5 rows

+-----------------+-------------------+---------+
|dest_country_name|origin_country_name|sum_count|
+-----------------+-------------------+---------+
|Sint Maarten     |United States      |61.0     |
|Senegal          |United States      |29.0     |
|Samoa            |United States      |28.0     |
|Saint Barthelemy |United States      |28.0     |
|South Korea      |United States      |683.0    |
|Sweden           |United States      |65.0     |
|Saint Lucia      |United States      |116.0    |
|Saudi Arabia     |United States      |42.0     |
|Spain            |United States      |422.0    |
|Switzerland      |United States      |315.0    |
+-----------------+-------------------+---------+
only showing top 10 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |15   |
|United States    |Croatia            |1    |
|United States    |Ireland            |344  |
|Egypt            |United States      |15   |
|United States    |India              |62   |
+-----------------+-------------------+-----+
only showing top 5 rows

+--------+--------------------+-----------+
|database|           tableName|isTemporary|
+--------+--------------------+-----------+
| default|             flights|      false|
| default|         flights_csv|      false|
| default|flights_csvflight...|      false|
| default|   flights_from_hive|      false|
| default| flights_from_select|      false|
| default|    flights_someview|      false|
| default|         flights_usa|      false|
| default|        flights_view|      false|
| default|stg_inventorymeasure|      false|
|        |            someview|       true|
+--------+--------------------+-----------+

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |15   |
|United States    |Croatia            |1    |
|United States    |Ireland            |344  |
|Egypt            |United States      |15   |
|United States    |India              |62   |
|United States    |Singapore          |1    |
|United States    |Grenada            |62   |
|Costa Rica       |United States      |588  |
|Senegal          |United States      |40   |
|Moldova          |United States      |1    |
+-----------------+-------------------+-----+
only showing top 10 rows

+------------------------+-------------------+-----+
|DEST_COUNTRY_NAME       |ORIGIN_COUNTRY_NAME|count|
+------------------------+-------------------+-----+
|United States           |Romania            |15   |
|United States           |Croatia            |1    |
|United States           |Ireland            |344  |
|Egypt                   |United States      |15   |
|United States           |India              |62   |
|United States           |Singapore          |1    |
|United States           |Grenada            |62   |
|Costa Rica              |United States      |588  |
|Senegal                 |United States      |40   |
|Moldova                 |United States      |1    |
|United States           |Sint Maarten       |325  |
|United States           |Marshall Islands   |39   |
|Guyana                  |United States      |64   |
|Malta                   |United States      |1    |
|Anguilla                |United States      |41   |
|Bolivia                 |United States      |30   |
|United States           |Paraguay           |6    |
|Algeria                 |United States      |4    |
|Turks and Caicos Islands|United States      |230  |
|United States           |Gibraltar          |1    |
+------------------------+-------------------+-----+
only showing top 20 rows

+-------------------+---------+-------+
|           col_name|data_type|comment|
+-------------------+---------+-------+
|  DEST_COUNTRY_NAME|   string|   null|
|ORIGIN_COUNTRY_NAME|   string|   null|
|              count|      int|   null|
+-------------------+---------+-------+

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |15   |
|United States    |Croatia            |1    |
|United States    |Ireland            |344  |
|Egypt            |United States      |15   |
|United States    |India              |62   |
|United States    |Singapore          |1    |
|United States    |Grenada            |62   |
|Costa Rica       |United States      |588  |
|Senegal          |United States      |40   |
|Moldova          |United States      |1    |
+-----------------+-------------------+-----+
only showing top 10 rows

+------------------------+-----+
|complex                 |count|
+------------------------+-----+
|{United States, Romania}|15   |
|{United States, Croatia}|1    |
|{United States, Ireland}|344  |
|{Egypt, United States}  |15   |
|{United States, India}  |62   |
+------------------------+-----+
only showing top 5 rows

+-----------------+-----+
|dest_country_name|count|
+-----------------+-----+
|United States    |15   |
|United States    |1    |
|United States    |344  |
|Egypt            |15   |
|United States    |62   |
+-----------------+-----+
only showing top 5 rows

+-----------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|dest_country_name|countList                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |originSet                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
+-----------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|United States    |[145, 225, 15, 1, 344, 62, 1, 62, 325, 39, 6, 1, 69, 161, 660, 42, 13, 38, 300, 1, 134, 608, 318, 34, 14, 712, 3, 19, 25, 31, 246, 185, 28, 23, 986, 414, 920, 2, 28, 1420, 12, 370002, 134, 33, 41, 129, 21, 1, 827, 508, 3, 12, 465, 342, 4, 236, 12, 407, 2, 2, 1, 59, 13, 952, 115, 35, 1336, 74, 7187, 119, 43, 313, 1, 201, 126, 1, 228, 202, 141, 50, 63, 59, 127, 136, 1, 80, 152, 63, 1, 70, 83, 235, 40, 4, 442, 438, 305, 1496, 619, 337, 193, 1970, 20, 2, 25, 8483, 117, 40, 15, 27, 12, 258, 13, 13, 193, 478, 1, 867, 130, 109, 310, 44, 1, 217, 13]|[Italy, Martinique, Finland, Liberia, Germany, Kiribati, Dominica, Sweden, Angola, Ethiopia, Belgium, United Arab Emirates, Australia, Cook Islands, Venezuela, Russia, Japan, Federated States of Micronesia, Namibia, Guadeloupe, Bulgaria, Saint Kitts and Nevis, Malta, Aruba, South Africa, New Zealand, Kuwait, Azerbaijan, Jamaica, Turks and Caicos Islands, British Virgin Islands, Turkey, Uruguay, Marshall Islands, Czech Republic, Pakistan, Saint Lucia, The Bahamas, Bermuda, Greece, Taiwan, Spain, Luxembourg, Dominican Republic, Suriname, Honduras, Cape Verde, Argentina, Montenegro, Jordan, Vietnam, Austria, Ireland, Colombia, Romania, Saudi Arabia, Latvia, Fiji, Indonesia, Nicaragua, Greenland, Costa Rica, Peru, South Korea, Portugal, Thailand, Belize, French Polynesia, Ghana, Palau, Hungary, Paraguay, Saint Barthelemy, Antigua and Barbuda, Barbados, Senegal, United Kingdom, Nigeria, Guyana, Iceland, Cayman Islands, Lithuania, Bahrain, Panama, Ukraine, Guatemala, Morocco, Netherlands, Trinidad and Tobago, Malaysia, Anguilla, Norway, Bolivia, Croatia, Samoa, Israel, Sint Maarten, Gibraltar, Papua New Guinea, Canada, Grenada, Ecuador, Switzerland, Singapore, Hong Kong, El Salvador, Cuba, Georgia, Cyprus, United States, India, Denmark, Estonia, China, Bonaire, Sint Eustatius, and Saba, Philippines, Haiti, Mexico, Poland, Brazil, Chile, France, Egypt, Curacao, Qatar]|
+-----------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+