In [41]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, countDistinct, approx_count_distinct, first, last, max, min, sum, sumDistinct, avg, mean, collect_list, collect_set, expr, stddev_pop


spark = SparkSession.builder.appName("chapter7").getOrCreate()

df = spark.read.format("csv").option("inferSchema", "true").option("header", "true").load("retail-data/all/*.csv").coalesce(5)
df.cache()
df.createOrReplaceTempView("dfTable")

df.count()

df.select(count("StockCode")).show(1, False)

df.select(countDistinct("StockCode")).show(1, False)

df.select(approx_count_distinct("StockCode", 0.1)).show(1, False)

df.select(first("StockCode"), last("StockCode")).show(1, False)

df.select(max("Quantity"), min("Quantity")).show(1, False)

df.select(sum("Quantity"), sumDistinct("Quantity")).show(1, False)

df.select(sum("Quantity").alias("total_sum"), count("Quantity").alias("number_of_quantities"), avg("Quantity").alias("avg_quantity"), mean("Quantity").alias("mean")).selectExpr("total_sum/number_of_quantities as avg", "avg_quantity", "mean").show(10, False)

# df.select(collect_list("Country"), collect_set("Country")).show(1, False)

df.groupBy("CustomerID", "InvoiceNo").count().show()

df.groupBy("InvoiceNo").agg(count("Quantity").alias("count_of_quantity"), expr("count(Quantity)")).show(1, False)

df.groupBy("InvoiceNo").agg(expr("avg(Quantity)"), expr("stddev_pop(Quantity)")).show(1, False)

+----------------+
|count(StockCode)|
+----------------+
|541909          |
+----------------+

+-------------------------+
|count(DISTINCT StockCode)|
+-------------------------+
|4070                     |
+-------------------------+

+--------------------------------+
|approx_count_distinct(StockCode)|
+--------------------------------+
|3364                            |
+--------------------------------+

+----------------+---------------+
|first(StockCode)|last(StockCode)|
+----------------+---------------+
|85123A          |22138          |
+----------------+---------------+

+-------------+-------------+
|max(Quantity)|min(Quantity)|
+-------------+-------------+
|80995        |-80995       |
+-------------+-------------+

+-------------+----------------------+
|sum(Quantity)|sum(DISTINCT Quantity)|
+-------------+----------------------+
|5176450      |29310                 |
+-------------+----------------------+

+----------------+----------------+----------------+
|avg             |avg_quantity    |mean            |
+----------------+----------------+----------------+
|9.55224954743324|9.55224954743324|9.55224954743324|
+----------------+----------------+----------------+

+----------+---------+-----+
|CustomerID|InvoiceNo|count|
+----------+---------+-----+
|     15955|   536635|   20|
|     17850|   536690|   17|
|     15426|   537196|   86|
|     12494|  C539114|    1|
|     14723|   539321|   47|
|     16931|   539414|   40|
|     13458|  C539838|    1|
|     15039|   540024|    1|
|     12601|   540769|    9|
|     17609|   541265|  100|
|     13328|   542397|   17|
|     17431|   542613|   43|
|     13394|   543054|   16|
|     13819|   543658|   12|
|     17811|   543801|    9|
|     16422|   544769|    5|
|     16722|   544914|   15|
|      null|   536596|    6|
|      null|   537252|    1|
|      null|   538041|    1|
+----------+---------+-----+
only showing top 20 rows

+---------+-----------------+---------------+
|InvoiceNo|count_of_quantity|count(Quantity)|
+---------+-----------------+---------------+
|536596   |6                |6              |
+---------+-----------------+---------------+
only showing top 1 row

+---------+-------------+--------------------+
|InvoiceNo|avg(Quantity)|stddev_pop(Quantity)|
+---------+-------------+--------------------+
|536596   |1.5          |1.1180339887498947  |
+---------+-------------+--------------------+
only showing top 1 row

In [68]:
from pyspark.sql.functions import col, to_date, desc,dense_rank, rank
from pyspark.sql.window import Window

dfWithDate = df.withColumn("date", to_date(col("InvoiceDate")))
dfWithDate.createOrReplaceTempView("dfWithDate")

windowSpec = Window\
  .partitionBy("CustomerId", "date")\
  .orderBy(desc("Quantity"))\
  .rowsBetween(Window.unboundedPreceding, Window.currentRow)
maxPurchase = max("Quantity").over(windowSpec)

purchaseDenseRank = dense_rank().over(windowSpec)
purchaseRank = rank().over(windowSpec)

dfWithDate.where("CustomerId IS NOT NULL").orderBy("CustomerId")\
  .select(
    col("CustomerId"),
    col("date"),
    col("Quantity"),
    purchaseRank.alias("quantityRank"),
    purchaseDenseRank.alias("quantityDenseRank"),
    maxPurchase.alias("maxPurchaseQuantity")).show()

+----------+----+--------+------------+-----------------+-------------------+
|CustomerId|date|Quantity|quantityRank|quantityDenseRank|maxPurchaseQuantity|
+----------+----+--------+------------+-----------------+-------------------+
|     12346|null|   74215|           1|                1|              74215|
|     12346|null|  -74215|           2|                2|              74215|
|     12347|null|     240|           1|                1|                240|
|     12347|null|      48|           2|                2|                240|
|     12347|null|      36|           3|                3|                240|
|     12347|null|      36|           3|                3|                240|
|     12347|null|      36|           3|                3|                240|
|     12347|null|      36|           3|                3|                240|
|     12347|null|      36|           3|                3|                240|
|     12347|null|      36|           3|                3|                240|
|     12347|null|      30|           9|                4|                240|
|     12347|null|      24|          10|                5|                240|
|     12347|null|      24|          10|                5|                240|
|     12347|null|      24|          10|                5|                240|
|     12347|null|      24|          10|                5|                240|
|     12347|null|      24|          10|                5|                240|
|     12347|null|      24|          10|                5|                240|
|     12347|null|      24|          10|                5|                240|
|     12347|null|      24|          10|                5|                240|
|     12347|null|      24|          10|                5|                240|
+----------+----+--------+------------+-----------------+-------------------+
only showing top 20 rows

In [93]:
from pyspark.sql.functions import grouping_id

dfNoNull = dfWithDate.drop()
dfNoNull.createOrReplaceTempView("dfNoNull")

spark.sql("SELECT CustomerId, stockCode, sum(Quantity) FROM dfNoNull GROUP BY customerId, stockCode GROUPING SETS((customerId, stockCode)) ORDER BY CustomerId DESC, stockCode DESC").show(10, False)

spark.sql("SELECT CustomerId, stockCode, sum(Quantity) FROM dfNoNull GROUP BY customerId, stockCode GROUPING SETS((customerId, stockCode),()) ORDER BY CustomerId DESC, stockCode DESC").show(10, False)

rolledUpDF = dfNoNull.rollup("Date", "Country").agg(sum("Quantity"))\
  .selectExpr("Date", "Country", "`sum(Quantity)` as total_quantity")\
  .orderBy("Date")
rolledUpDF.where(expr("Country is NULL")).show()
rolledUpDF.where("Date is NULL").show()
# rolledUpDF.show()


dfNoNull.cube("Date", "Country").agg(sum(col("Quantity")))\
  .select("Date", "Country", "sum(Quantity)").orderBy("Date").where("Country is NULL").show()

dfNoNull.cube("Date", "Country").agg(grouping_id(), sum(col("Quantity")))\
  .select("Date", "Country", "sum(Quantity)").orderBy("Date").where("Country is NULL").show()

dfNoNull.cube("customerId", "stockCode").agg(grouping_id(), sum("Quantity"))\
.orderBy(expr("grouping_id()"))\
.show()

pivoted = dfWithDate.groupBy("date").pivot("Country").sum()

# pivoted.where("date > '2011-12-05'").select("date" ,"`USA_sum(CusomterID)`").show()

+----------+---------+-------------+
|customerId|stockCode|sum(Quantity)|
+----------+---------+-------------+
|18287     |85173    |48           |
|18287     |85040A   |48           |
|18287     |85039B   |120          |
|18287     |85039A   |96           |
|18287     |84920    |4            |
|18287     |84584    |6            |
|18287     |84507C   |6            |
|18287     |72351B   |24           |
|18287     |72351A   |24           |
|18287     |72349B   |60           |
+----------+---------+-------------+
only showing top 10 rows

+----------+---------+-------------+
|customerId|stockCode|sum(Quantity)|
+----------+---------+-------------+
|18287     |85173    |48           |
|18287     |85040A   |48           |
|18287     |85039B   |120          |
|18287     |85039A   |96           |
|18287     |84920    |4            |
|18287     |84584    |6            |
|18287     |84507C   |6            |
|18287     |72351B   |24           |
|18287     |72351A   |24           |
|18287     |72349B   |60           |
+----------+---------+-------------+
only showing top 10 rows

+----+-------+--------------+
|Date|Country|total_quantity|
+----+-------+--------------+
|null|   null|       5176450|
|null|   null|       5176450|
+----+-------+--------------+

+----+--------------------+--------------+
|Date|             Country|total_quantity|
+----+--------------------+--------------+
|null|  European Community|           497|
|null|      Czech Republic|           592|
|null|           Lithuania|           652|
|null|              Canada|          2763|
|null|              France|        110480|
|null|                null|       5176450|
|null|             Iceland|          2458|
|null|      United Kingdom|       4263829|
|null|             Lebanon|           386|
|null|             Germany|        117448|
|null|              Sweden|         35637|
|null|              Greece|          1556|
|null|             Finland|         10666|
|null|             Denmark|          8188|
|null|                null|       5176450|
|null|            Portugal|         16180|
|null|             Austria|          4827|
|null|     Channel Islands|          9479|
|null|           Singapore|          5234|
|null|United Arab Emirates|           982|
+----+--------------------+--------------+
only showing top 20 rows

+----+-------+-------------+
|Date|Country|sum(Quantity)|
+----+-------+-------------+
|null|   null|      5176450|
|null|   null|      5176450|
+----+-------+-------------+

+----+-------+-------------+
|Date|Country|sum(Quantity)|
+----+-------+-------------+
|null|   null|      5176450|
|null|   null|      5176450|
+----+-------+-------------+

+----------+---------+-------------+-------------+
|customerId|stockCode|grouping_id()|sum(Quantity)|
+----------+---------+-------------+-------------+
|     17908|    20713|            0|            1|
|     17920|    22759|            0|            6|
|     17897|    22867|            0|            5|
|     14729|    22916|            0|            1|
|     15012|   47599A|            0|            1|
|     15525|    22453|            0|            1|
|     12433|    22615|            0|           96|
|     16456|   85099C|            0|           80|
|     17873|   51014C|            0|           36|
|     13777|    84050|            0|          420|
|     12947|    22637|            0|           12|
|     17017|    21914|            0|          252|
|     14390|    22418|            0|            2|
|     16916|    21504|            0|           12|
|     16510|    22169|            0|            2|
|     16781|    21781|            0|            0|
|     15574|    21984|            0|            1|
|     18239|    21364|            0|            2|
|     12682|    22892|            0|           36|
|     17238|    20749|            0|            1|
+----------+---------+-------------+-------------+
only showing top 20 rows