In [2]:

from pyspark.sql import SparkSession


spark = SparkSession.builder.appName("My Spark Application").getOrCreate()
df = spark.read.option("header", "true").csv("input.csv")
df.show(1000)

+--------------------+--------------------+--------------------+--------------------+
|            FILENAME|         ENTITY_TYPE|              STATUS|       ERROR_MESSAGE|
+--------------------+--------------------+--------------------+--------------------+
|transportInstruct...|transportInstruction|    INGESTION_FAILED|Error parsing AVR...|
|transportInstruct...|transportInstruction|DATA_INGESTION_ST...|                null|
+--------------------+--------------------+--------------------+--------------------+

In [11]:
df = spark.read.format("avro").load("inventoryMeasure_IKEA_7.avro")
#df.map(input -> input.itemId + 'xxx').show(1000)
df.show(10)

+------------------+--------+----------------+----------+---------------+--------------------+----------+
|documentActionCode|  itemId|ownerOfTradeItem|locationId|ownerOfLocation|             measure|extensions|
+------------------+--------+----------------+----------+---------------+--------------------+----------+
|              null|00246163|            IKEA|    STO189|           IKEA|[{Customer Order,...|      null|
|              null|00246163|            IKEA|    STO448|           IKEA|[{Customer Order,...|      null|
|              null|00246163|            IKEA|    STO886|           IKEA|[{Customer Order,...|      null|
|              null|00246361|            IKEA|    STO512|           IKEA|[{Customer Order,...|      null|
|              null|00246375|            IKEA|    STO392|           IKEA|[{Customer Order,...|      null|
|              null|00246375|            IKEA|    STO485|           IKEA|[{Customer Order,...|      null|
|              null|00247412|            IKEA|    STO466|           IKEA|[{Customer Order,...|      null|
|              null|00247412|            IKEA|    STO833|           IKEA|[{Customer Order,...|      null|
|              null|00247412|            IKEA|    STO833|           IKEA|[{Customer Order,...|      null|
|              null|00247412|            IKEA|    STO879|           IKEA|[{Customer Order,...|      null|
+------------------+--------+----------------+----------+---------------+--------------------+----------+
only showing top 10 rows

In [5]:
#df.createOrReplaceTempView("inventoryMeasure")
#spark.sql("select  documentActionCode, extensions, itemId, locationId, explodedMeasure.inventoryMeasureCode, explodedmeasureValue[0].startDate, explodedmeasureValue[0].quantity, explodedmeasureValue[0].extensions as measureValueExtensions, ownerOfLocation, ownerOfTradeItem from inventoryMeasure lateral view explode(measure) as explodedMeasure lateral view explode(explodedMeasure) as explodedmeasureValue").show(10,50)

In [6]:
#spark.sql("insert into stg_inventoryMeasure select  documentActionCode, extensions, itemId, locationId, explodedMeasure.inventoryMeasureCode, measureValue.startDate, measureValue.quantity, measureValue.extensions as measureValueExtensions, ownerOfLocation, ownerOfTradeItem from inventoryMeasure lateral view explode(measure) as explodedMeasure lateral view explode(measure.measureValue) as measureValue")
#spark.sql("select * from stg_inventoryMeasure").show()

In [7]:
numbers = spark.range(1000).toDF("number")
numbers.show(10)

+------+
|number|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     7|
|     8|
|     9|
+------+
only showing top 10 rows

In [8]:
numbers.where("number % 2 = 0").show(10)

+------+
|number|
+------+
|     0|
|     2|
|     4|
|     6|
|     8|
|    10|
|    12|
|    14|
|    16|
|    18|
+------+
only showing top 10 rows

In [48]:
from pyspark.sql.functions import desc
flight_data_2015 = spark.read.option("inferSchem", "true").option("header", "true").csv("flight-data/csv/2015-summary.csv")
flight_data_2015.sort(desc("count")).show(100)

flight_data_2015.printSchema()

+--------------------+--------------------+------+
|   DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME| count|
+--------------------+--------------------+------+
|       United States|         The Bahamas|   986|
|         The Bahamas|       United States|   955|
|       United States|              France|   952|
|              France|       United States|   935|
|       United States|               China|   920|
|             Curacao|       United States|    90|
|            Colombia|       United States|   873|
|       United States|            Colombia|   867|
|              Brazil|       United States|   853|
|       United States|              Canada|  8483|
|              Canada|       United States|  8399|
|        Saudi Arabia|       United States|    83|
|       United States|             Curacao|    83|
|       United States|         South Korea|   827|
|       United States|British Virgin Is...|    80|
|         Netherlands|       United States|   776|
|               China|       United States|   772|
|       United States|         New Zealand|    74|
|       United States|              Mexico|  7187|
|              Mexico|       United States|  7140|
|       United States|             Jamaica|   712|
|       United States|        Saudi Arabia|    70|
|       United States|Federated States ...|    69|
|Federated States ...|       United States|    69|
|             Jamaica|       United States|   666|
|       United States|         Netherlands|   660|
|              Guyana|       United States|    64|
|       United States|             Austria|    63|
|       United States|              Guyana|    63|
|       United States|               India|    62|
|       United States|             Grenada|    62|
|             Austria|       United States|    62|
|       United States|              Brazil|   619|
|               India|       United States|    61|
|       United States|          Costa Rica|   608|
|            Paraguay|       United States|    60|
|       United States|            Paraguay|     6|
|       United States|          Guadeloupe|    59|
|       United States|Bonaire, Sint Eus...|    59|
|             Nigeria|       United States|    59|
|          Costa Rica|       United States|   588|
|Bonaire, Sint Eus...|       United States|    58|
|         El Salvador|       United States|   561|
|          Guadeloupe|       United States|    56|
|             Grenada|       United States|    53|
|              Panama|       United States|   510|
|       United States|         El Salvador|   508|
|       United States|             Nigeria|    50|
|       French Guiana|       United States|     5|
|       United States|                Cuba|   478|
|                Cuba|       United States|   466|
|       United States|              Panama|   465|
|       United States|               Spain|   442|
|          Martinique|       United States|    44|
|              Jordan|       United States|    44|
|       United States|              Jordan|    44|
|       United States|               Italy|   438|
|    French Polynesia|       United States|    43|
|       United States|          Martinique|    43|
|             Uruguay|       United States|    43|
|               Spain|       United States|   420|
|    Marshall Islands|       United States|    42|
|       United States|             Senegal|    42|
|       United States|           Hong Kong|   414|
|            Anguilla|       United States|    41|
|       United States|    Saint Barthelemy|    41|
|       United States|            Honduras|   407|
|       United States|    French Polynesia|    40|
|             Senegal|       United States|    40|
|       United States|        South Africa|    40|
|       United States|           Greenland|     4|
|       United States|            Thailand|     4|
|             Algeria|       United States|     4|
|           Guatemala|       United States|   397|
|       United States|    Marshall Islands|    39|
|    Saint Barthelemy|       United States|    39|
|               Italy|       United States|   382|
|       United States|            Anguilla|    38|
|       United States|       United States|370002|
|            Honduras|       United States|   362|
|        South Africa|       United States|    36|
|       United States|            Kiribati|    35|
|               Aruba|       United States|   346|
|       United States|             Ireland|   344|
|       United States|               Aruba|   342|
|       United States|            Suriname|    34|
|       United States|                Peru|   337|
|             Ireland|       United States|   335|
|           Hong Kong|       United States|   332|
|       United States|              Poland|    33|
|           Australia|       United States|   329|
|       United States|        Sint Maarten|   325|
|        Sint Maarten|       United States|   325|
|United Arab Emirates|       United States|   320|
|              Poland|       United States|    32|
|              Kuwait|       United States|    32|
|       United States|           Guatemala|   318|
|      Cayman Islands|       United States|   314|
|       United States|United Arab Emirates|   313|
|       United States|      Cayman Islands|   310|
+--------------------+--------------------+------+
only showing top 100 rows

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: string (nullable = true)

In [31]:
flight_data_2015.createOrReplaceTempView("flight_data_2015")
spark.sql("select dest_country_name, count(1) from flight_data_2015 group by dest_country_name order by count(1) desc").show(100)

+--------------------+--------+
|   dest_country_name|count(1)|
+--------------------+--------+
|       United States|     125|
|             Germany|       1|
|                Iraq|       1|
|              Turkey|       1|
|            Anguilla|       1|
|              Russia|       1|
|            Paraguay|       1|
|               Palau|       1|
|                Fiji|       1|
|            Malaysia|       1|
|           Singapore|       1|
|              Jordan|       1|
|         Philippines|       1|
|             Senegal|       1|
|              Greece|       1|
|            Djibouti|       1|
|Turks and Caicos ...|       1|
|              France|       1|
|            Kiribati|       1|
|              Kosovo|       1|
|             Finland|       1|
|           Nicaragua|       1|
|               Ghana|       1|
|              Guyana|       1|
|              Taiwan|       1|
|British Virgin Is...|       1|
|            Dominica|       1|
|       New Caledonia|       1|
|           Argentina|       1|
|               Malta|       1|
|              Kuwait|       1|
|              Sweden|       1|
|             Algeria|       1|
|      Cayman Islands|       1|
|                Peru|       1|
|    Marshall Islands|       1|
|          Martinique|       1|
|             Belgium|       1|
|              Angola|       1|
|               India|       1|
|             Curacao|       1|
|               China|       1|
|             Liberia|       1|
|               Spain|       1|
|             Ecuador|       1|
|               Qatar|       1|
|            Suriname|       1|
|             Bolivia|       1|
|             Nigeria|       1|
|                Cuba|       1|
|               Chile|       1|
|             Croatia|       1|
|               Italy|       1|
|          Guadeloupe|       1|
|             Denmark|       1|
|               Niger|       1|
|              Norway|       1|
|             Ireland|       1|
|            Barbados|       1|
|              Panama|       1|
|          Cape Verde|       1|
|            Thailand|       1|
|           Hong Kong|       1|
|             Morocco|       1|
|             Iceland|       1|
|              Israel|       1|
|    Saint Barthelemy|       1|
|           Venezuela|       1|
|             Ukraine|       1|
|           Indonesia|       1|
|Saint Kitts and N...|       1|
|               Aruba|       1|
|              Mexico|       1|
|       Cote d'Ivoire|       1|
|    French Polynesia|       1|
|         South Korea|       1|
|             Georgia|       1|
|Saint Vincent and...|       1|
|         The Bahamas|       1|
|           Guatemala|       1|
|             Uruguay|       1|
|Bonaire, Sint Eus...|       1|
|        Sint Maarten|       1|
|             Grenada|       1|
|             Tunisia|       1|
|Federated States ...|       1|
|          Azerbaijan|       1|
|            Honduras|       1|
|         Switzerland|       1|
| Trinidad and Tobago|       1|
|              Cyprus|       1|
|       French Guiana|       1|
|              Zambia|       1|
|        Saudi Arabia|       1|
|              Latvia|       1|
|             Jamaica|       1|
|         Saint Lucia|       1|
|United Arab Emirates|       1|
|               Samoa|       1|
|            Ethiopia|       1|
+--------------------+--------+
only showing top 100 rows

In [34]:
flight_data_2015.groupBy("dest_country_name").count().orderBy(desc("count")).show(100)

+--------------------+-----+
|   dest_country_name|count|
+--------------------+-----+
|       United States|  125|
|              Turkey|    1|
|             Senegal|    1|
|         Philippines|    1|
|              Greece|    1|
|            Anguilla|    1|
|              Russia|    1|
|            Paraguay|    1|
|                Iraq|    1|
|              Jordan|    1|
|Turks and Caicos ...|    1|
|              France|    1|
|             Germany|    1|
|            Djibouti|    1|
|               Palau|    1|
|            Kiribati|    1|
|              Sweden|    1|
|              Guyana|    1|
|            Malaysia|    1|
|           Singapore|    1|
|                Fiji|    1|
|              Kosovo|    1|
|              Taiwan|    1|
|British Virgin Is...|    1|
|            Dominica|    1|
|             Belgium|    1|
|              Angola|    1|
|               India|    1|
|             Curacao|    1|
|               China|    1|
|          Cape Verde|    1|
|    Marshall Islands|    1|
|       New Caledonia|    1|
|             Finland|    1|
|             Algeria|    1|
|      Cayman Islands|    1|
|          Martinique|    1|
|               Chile|    1|
|             Ecuador|    1|
|               Qatar|    1|
|           Argentina|    1|
|               Malta|    1|
|              Kuwait|    1|
|                Peru|    1|
|           Nicaragua|    1|
|               Ghana|    1|
|                Cuba|    1|
|             Denmark|    1|
|               Niger|    1|
|             Croatia|    1|
|               Spain|    1|
|          Guadeloupe|    1|
|             Bolivia|    1|
|             Nigeria|    1|
|              Norway|    1|
|            Suriname|    1|
|             Morocco|    1|
|               Italy|    1|
|            Barbados|    1|
|              Panama|    1|
|            Thailand|    1|
|             Ireland|    1|
|           Venezuela|    1|
|             Ukraine|    1|
|           Hong Kong|    1|
|              Mexico|    1|
|       Cote d'Ivoire|    1|
|Saint Kitts and N...|    1|
|         South Korea|    1|
|             Iceland|    1|
|              Israel|    1|
|    Saint Barthelemy|    1|
|               Aruba|    1|
|             Georgia|    1|
|             Uruguay|    1|
|Bonaire, Sint Eus...|    1|
|           Guatemala|    1|
|Saint Vincent and...|    1|
|         The Bahamas|    1|
|        Sint Maarten|    1|
|             Grenada|    1|
|           Indonesia|    1|
|              Cyprus|    1|
|Federated States ...|    1|
|    French Polynesia|    1|
|          Azerbaijan|    1|
|             Liberia|    1|
|             Tunisia|    1|
|         Switzerland|    1|
|               Samoa|    1|
|            Ethiopia|    1|
|         Saint Lucia|    1|
|              Latvia|    1|
|             Jamaica|    1|
|              Canada|    1|
|              Brazil|    1|
|              Belize|    1|
|United Arab Emirates|    1|
| Trinidad and Tobago|    1|
|      Czech Republic|    1|
+--------------------+-----+
only showing top 100 rows

In [44]:
flight_data_2015.select("count").orderBy(desc("count")).show(1)

+-----+
|count|
+-----+
|  986|
+-----+
only showing top 1 row

In [49]:
flight_data_2015.withColumn("countAsInt","count").cast(IntegerType()).groupBy("dest_country_name").sum("countAsInt").withColumnRenamed("sum(countAsInt)" , "dest_country_count").sort(desc("dest_country_count")).show(5)

AssertionError: col should be Column